.logo {
  position: absolute;
  width: 236px;
  height: 38px;
  left: 70px;
  top: 25px;
}

.line {
  position: absolute;
  height: 0px;
  left: 70px;
  right: 70px;
  top: 89px;

  border: 1px solid #1a1a1a;
}

.addButton {
  position: absolute;
  width: 464px;
  height: 60px;
  left: calc(50% - 464px / 2);
  top: 513px;

  background: #1a1a1a;
  border-radius: 8px;
}

.button-text {
  margin: auto;
  height: 24px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
